<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <center><strong>Enter the title of the image here:</strong></center>
    
    <center><%= form.text_field :title %></center>
  </div>

 <div class="field">
    <center>
    <br/><br/>
    <strong>To upload an image click browse and select the image you wish to upload</strong>
    <br/>
    <%= form.file_field :image %>
      
    </center>
  </div>
  <br/><br/>
  <div class="actions">
    <center>
      <strong>Click here to store your image and title in the gallery</strong>
      <br/>
      <%= form.submit %>
        
    </center>
  </div>
<% end %>
