<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
  <br/>
  <% if @image.image.attached? %>
    <image src="<%=(url_for(@image.image))%>">
  <% end %>
</p>

<%= link_to 'Back', images_path %>
